.vscode
Tareas/T2/elim.bin
Tareas/T2/elim.bin-g
Tareas/T2/elim.cbp
Tareas/T2/elim.h
Tareas/T2/elim.layout
Tareas/T2/elim.zip
Tareas/T2/Makefile
Tareas/T2/prof.ref-aarch64
Tareas/T2/prof.ref-x86_64
Tareas/T2/README.txt
Tareas/T2/resultados.txt
Tareas/T2/test-elim.c
Tareas/T2/tiempo-ref.txt