.vscode

#Tarea1
Tareas/T1/.suma.c.swp
Tareas/T1/Makefile
Tareas/T1/prof.ref-aarch64
Tareas/T1/prof.ref-x86_64
Tareas/T1/README.txt
Tareas/T1/resultados.txt
Tareas/T1/suma.bin
Tareas/T1/suma.bin-g
Tareas/T1/suma.bin-san
Tareas/T1/suma.cbp
Tareas/T1/suma.depend
Tareas/T1/suma.h
Tareas/T1/suma.layout
Tareas/T1/suma.zip
Tareas/T1/test-suma.c
Tareas/T1/tiempo-ref.txt

#Tarea2
Tareas/T2/elim.bin
Tareas/T2/elim.bin-g
Tareas/T2/elim.cbp
Tareas/T2/elim.h
Tareas/T2/elim.layout
Tareas/T2/elim.zip
Tareas/T2/Makefile
Tareas/T2/prof.ref-aarch64
Tareas/T2/prof.ref-x86_64
Tareas/T2/README.txt
Tareas/T2/resultados.txt
Tareas/T2/test-elim.c
Tareas/T2/elim.bin-san
Tareas/T2/tiempo-ref.txt

#Tarea3
Tareas/T3/Makefile                                                             
Tareas/T3/prev.cbp                                                             
Tareas/T3/prev.h                                                               
Tareas/T3/prev.layout                                                          
Tareas/T3/prof.ref-aarch64                                                     
Tareas/T3/prof.ref-x86_64                                                      
Tareas/T3/README.txt                                                           
Tareas/T3/test-prev.c                                                          
Tareas/T3/prev.bin
Tareas/T3/prev.bin-g
Tareas/T3/prev.bin-san
Tareas/T3/prev.zip
Tareas/T3/resultados.txt
Tareas/T3/tiempo-ref.txt
#Tarea4                                                                                  
Tareas/T4/definir.bin                                   
Tareas/T4/definir.bin-g                                 
Tareas/T4/definir.bin-san                               
Tareas/T4/definir.c                                     
Tareas/T4/definir.cbp                                   
Tareas/T4/definir.depend                                
Tareas/T4/definir.layout                                
Tareas/T4/dicc-full.txt                                 
Tareas/T4/dicc-ini.txt                                  
Tareas/T4/dicc-ref.txt                                  
Tareas/T4/dicc-vacio.txt                                
Tareas/T4/dicc.txt                                      
Tareas/T4/err-ref.txt                                   
Tareas/T4/err.txt                                       
Tareas/T4/Makefile                                      
Tareas/T4/mk-dicc.sh                                    
Tareas/T4/prof.ref-aarch64                              
Tareas/T4/prof.ref-x86_64                               
Tareas/T4/pss.c                                         
Tareas/T4/pss.h                                         
Tareas/T4/raw-std-ref.txt                               
Tareas/T4/raw-std.txt                                   
Tareas/T4/README.txt                                    
Tareas/T4/std-ref.txt                                   
Tareas/T4/std.txt                                       
Tareas/T4/test-definir.sh                               
Tareas/T4/vacio.txt   

Auxiliares/
Controles/