.vscode

#Tarea1
Tareas/T1/.suma.c.swp
Tareas/T1/Makefile
Tareas/T1/prof.ref-aarch64
Tareas/T1/prof.ref-x86_64
Tareas/T1/README.txt
Tareas/T1/resultados.txt
Tareas/T1/suma.bin
Tareas/T1/suma.bin-g
Tareas/T1/suma.bin-san
Tareas/T1/suma.cbp
Tareas/T1/suma.depend
Tareas/T1/suma.h
Tareas/T1/suma.layout
Tareas/T1/suma.zip
Tareas/T1/test-suma.c
Tareas/T1/tiempo-ref.txt

#Tarea2
Tareas/T2/elim.bin
Tareas/T2/elim.bin-g
Tareas/T2/elim.cbp
Tareas/T2/elim.h
Tareas/T2/elim.layout
Tareas/T2/elim.zip
Tareas/T2/Makefile
Tareas/T2/prof.ref-aarch64
Tareas/T2/prof.ref-x86_64
Tareas/T2/README.txt
Tareas/T2/resultados.txt
Tareas/T2/test-elim.c
Tareas/T2/elim.bin-san
Tareas/T2/tiempo-ref.txt

#Tarea3
Tareas/T3/Makefile                                                             
Tareas/T3/prev.cbp                                                             
Tareas/T3/prev.h                                                               
Tareas/T3/prev.layout                                                          
Tareas/T3/prof.ref-aarch64                                                     
Tareas/T3/prof.ref-x86_64                                                      
Tareas/T3/README.txt                                                           
Tareas/T3/test-prev.c                                                          